ProtocolHub.ConfiguartionEditor/Prot.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="Prot" targetNamespace="http://tempuri.org/Prot.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/Prot.xsd" xmlns:mstns="http://tempuri.org/Prot.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Protocols">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TypeID" type="xs:byte" />
				<xs:element name="TypeName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>